:root{
    --bg: #22002a;
    --fg: #fef;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    background: var(--bg);
    color: var(--fg);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    --size: min(90vw, 90vh);
    margin: 0;
    width: var(--size);
    height: var(--size);
    background: var(--fg);
    border-radius: 5%;
}

.grid{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 8px;
}

.grid-item{
    background: white;
    margin: 8px;
    border-radius: 15%;
    color: var(--bg);
    font-size: auto;
}
